<form class="row g-3 needs-validation animate__animated col-6 w-100" [formGroup]="checkoutForm">
  <div class="col-md-4 wow animate__animated animate__fadeInTopLeft">
    <label for="validationCustom01" class="form-label">Имя</label>
    <input type="text" class="form-control" id="validationCustom01" formControlName="firstName"  value="Mark" required>
    <div class="invalid-feedbac" *ngIf="checkoutForm.get('firstName')?.invalid && (checkoutForm.get('firstName')?.touched ||
          checkoutForm.get('firstName')?.dirty) && checkoutForm.get('firstName')?.errors?.['required']">
      Valid first name is required.
    </div>
  </div>
  <div class="col-md-4 wow animate__animated animate__fadeInDown">
    <label for="validationCustom02" class="form-label">Фамилия</label>
    <input type="text" class="form-control" id="validationCustom02" formControlName="lastName" value="Otto" required>
    <div class="invalid-feedbac" *ngIf="checkoutForm.get('lastName')?.invalid && (checkoutForm.get('lastName')?.touched ||
                checkoutForm.get('lastName')?.dirty) && checkoutForm.get('lastName')?.errors?.['required']">
      Valid last name is required.
    </div>
  </div>
  <div class="col-md-4 wow animate__animated animate__fadeInTopRight">
    <label for="validationCustomUsername" class="form-label">Телефон</label>
    <div class="input-group has-validation">
      <input type="text" class="form-control" id="validationCustomUsername" formControlName="phoneNumber" aria-describedby="inputGroupPrepend" >
      <div class="invalid-feedbac" *ngIf="checkoutForm.get('phoneNumber')?.invalid && (checkoutForm.get('phoneNumber')?.touched ||
                checkoutForm.get('phoneNumber')?.dirty) && checkoutForm.get('phoneNumber')?.errors?.['required']">
        Valid phone number is required.
      </div>
    </div>
  </div>
  <div class="col-md-6 wow animate__animated animate__fadeInLeft">
    <label for="validationCustom03" class="form-label">Страна</label>
    <input type="text" class="form-control" formControlName="country" id="validationCustom03" >
    <div class="invalid-feedbac" *ngIf="checkoutForm.get('country')?.invalid && (checkoutForm.get('country')?.touched ||
                checkoutForm.get('country')?.dirty) && checkoutForm.get('country')?.errors?.['required']">
      Valid country is required.
    </div>
  </div>
  <div class="col-md-6 wow animate__animated animate__fadeInRight">
    <label for="validationCustom04" class="form-label">Индекс</label>
    <input class="form-select" id="validationCustom04" formControlName="index" >

    <div class="invalid-feedbac" *ngIf="checkoutForm.get('index')?.invalid && (checkoutForm.get('index')?.touched ||
          checkoutForm.get('index')?.dirty) && checkoutForm.get('index')?.errors?.['required']">
      Valid index is required.
    </div>
  </div>
  <div class="col-md-12 wow animate__animated animate__fadeInUp">
    <label for="validationCustom05" class="form-label">Адрес</label>
    <input type="text" class="form-control" formControlName="address" id="validationCustom05" >
    <div class="invalid-feedbac" *ngIf="checkoutForm.get('address')?.invalid && (checkoutForm.get('address')?.touched ||
          checkoutForm.get('address')?.dirty) && checkoutForm.get('address')?.errors?.['required']">
      Valid address is required.
    </div>
  </div>
  <div class="col-md-12 wow animate__animated animate__fadeInUp">
    <label for="validationCustom06" class="form-label">Товар</label>
    <input type="text" class="form-control"  formControlName="product"   id="validationCustom06"  >
    <div class="invalid-feedbac" *ngIf="checkoutForm.get('product')?.invalid && (checkoutForm.get('product')?.touched ||
          checkoutForm.get('product')?.dirty) && checkoutForm.get('product')?.errors?.['required']">
      Valid product is required.
    </div>
  </div>
  <div class="col-md-12 wow animate__animated animate__fadeInUp">
    <label for="validationCustom07" class="form-label">Комментарий к заказу</label>
    <input type="text" class="form-control" id="validationCustom07" >
  </div>
  <div class="col-12">
    <button class="btn btn-primary px-4 py-2  hvr-shutter-in-vertical" id="submitBtn" (click)="createOrder()">Отправить</button>
  </div>
</form>

